body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #ff6347, #ff69b4); /* Changed gradient colors */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-container {
    margin-top: 20px;
}

.task-input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

.add-btn {
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4682b4; /* Changed button color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    transition: transform 0.2s ease; /* Smooth transition */
}

.add-btn:hover {
    transform: scale(1.1); /* Increase button size */
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Spacing between task text and delete button */
}

.task-text {
    margin-right: 10px; /* Adjust margin between task text and delete button */
}

.delete-btn {
    cursor: pointer;
    transition: transform 0.2s ease; /* Smooth transition */
}

.delete-btn:hover{
    transform: scale(1.1); /* Increase button size */
}
