body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #2265d2, #e169ff); /* Changed gradient colors */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-container {
    margin-top: 20px;
    text-wrap: wrap;
}


.task-input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

.add-btn {
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4682b4; /* Changed button color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    transition: transform 0.2s ease; /* Smooth transition */
}

.add-btn:hover {
    transform: scale(1.1); /* Increase button size */
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-text {
    margin-right: 10px; 
    word-break: break-all; 
}

.delete-btn {
    cursor: pointer;
    font-size: large;
    transition: transform 0.2s ease; /* Smooth transition */
}

.delete-btn:hover{
    transform: scale(1.1); /* Increase button size */
}

.category-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-right: 10px; /* Adjust spacing */
}

/* Add styles for task categories */
.category {
    margin-left: 5px; /* Adjust spacing */
    font-style: italic;
    color: #888; /* Adjust color */
}

.custom-category{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%; /* Adjust container width to fit the screen */
        padding: 10px; /* Add padding for better readability */
        border-bottom: 1px solid #ccc;
    }
    .task-input {
        width: 92%; /* Adjust input width to fit smaller screens */
    }
    .category-select,
    .other-category-input {
        width: 100%; /* Make category select and input fields full width */
        margin-top: 10px; /* Add some spacing between elements */
    }
    .custom-category{
        width: 92%;
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
    }
}

/* For screens smaller than 400px */
@media screen and (max-width: 400px) {
    .add-btn {
        width: 100%; /* Make add button full width */
    }
    .add-btn:hover {
        transform: none; /* Disable hover effect for small screens */
    }
}
